@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
     @apply overflow-x-hidden scrollbar-hide transition-all
      ease-in-out duration-300;
        /* @apply bg-gray-100 text-black m-0; */
    }
    *{
      @apply  scroll-smooth p-0 m-0 box-border ;
       
    }
}
@layer components{
    nav{
        @apply fixed top-0 px-4 py-4 transition z-50  duration-300 ease-in-out
    }
    .active{
       @apply  hover:text-white
        hover:border-b-4
        hover:border-[#ADDDD0]
        transition duration-300 ease-in-out
    }
    .activeNavbar{
        @apply border-b-4 border-[#ADDDD0] transition duration-300 ease-in-out
    }
    
    .hero-wrapper{
        @apply
       h-[70vh] w-screen 
    }
    .imgContainer{      
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  }
    
    .desc-wrapper{
        @apply
        w-screen  
        max-w-[50rem] 
        absolute 
        min-w-[20vw] 
         bg-[#4c4c4c60]
        md:left-auto 
        lg:left-[3rem]
        text-[#ffffff]  
         flex flex-col gap-4 p-5 rounded
        bottom-[2rem]
    }
    .hero-btn{
       @apply flex justify-center items-center 
                rounded-full
                font-bold
                px-4
                py-2
                text-[#525151]
               text-center w-[10rem] h-[3rem] transition-all
    }
    .section-arrow{
        @apply   
        absolute 
        top-0 
        bottom-0  
        z-40 
        m-auto h-10 w-10
        cursor-pointer 
        opacity-0 
        transition 
        hover:scale-125 
        group-hover:opacity-100
        bg-slate-800
        rounded-full
        text-cyan-50

    }
    .signin-background{
        @apply -z-20 opacity-[0.7]
    }
    .icon{
        @apply w-[3.5rem] h-[3rem]
         absolute 
        text-[#ADDDD0]
        text-4xl font-bold outline-rose-600 outline
        pr-2 
        text-center indent-1
        left-[1rem] top-[5rem]
        md:left-[4rem]
    }
    .input{
        @apply p-2
       w-full
        rounded
        text-center
        text-black/90
       caret-black
       font-semibold  
       outline-none
       focus:bg-slate-300
    }
    .add-tick{
        @apply h-6 w-6 
    }
    .add-alert{
     @apply   absolute w-[6rem] 
     hidden items-center h-[2rem] 
     bottom-9 right-[8%] 
     justify-center
     text-sm
     bg-slate-800
     rounded
     transition-all
     md:right-[20%]
     md:w-[9rem]
     md:h-[3rem]
     md:text-[20px]
     md:bottom-8
     md:p-1
    }
    .close-button{
        @apply absolute top-[1rem] right-[1rem]
    }
    .moviesORtv-btn{
        @apply w-[10rem] h-[3rem] bg-slate-300 hover:bg-[#ADDDD0] hover:scale-105
        rounded 
    }
    .mobile-navbar-items{
        @apply block text-sm px-2 py-4 
        text-white font-semibold
        hover:bg-[#ADDDD0]
        hover:text-black
        transition ease-in-out duration-300
    }
    .item{
        @apply py-4 px-2 transition duration-300
        hover:text-white
        hover:border-b-4
        hover:border-[#ADDDD0]
        ease-in-out
        
        
    }
}

/* 
	// 	switch (e.target.innerHTML) { 
	// 		case "My Library":
	// 			setAactiveClass((prev: any) => { return { ...prev, library: true } });
	// 			setAactiveClass((prev: any) => { return { ...prev, home: false } })
	// 			setAactiveClass((prev: any) => { return { ...prev, movieTv: false } });
	// 			break;
	// 		case "Movies & TV":
	// 			setAactiveClass((prev: any) => { return { ...prev, library: false } });
	// 			setAactiveClass((prev: any) => { return { ...prev, home: false } })
	// 			setAactiveClass((prev: any) => { return { ...prev, movieTv: true } });
	// 			break;
	// 		case "Home":
	// 			setAactiveClass((prev: any) => { return { ...prev, library: false } });
	// 			setAactiveClass((prev: any) => { return { ...prev, home: true } })
	// 			setAactiveClass((prev: any) => { return { ...prev, movieTv: false } });
	// 			break;
	// 		default:
	// } */
